
/*Generals*/

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    font-size: 15px;
    line-height: 1.2;
    font-weight: 300;
    color : #2E2E2E;
}

button {
    cursor : pointer;
    border : none;
    background: none;
    outline: inherit;
    font-family: inherit;
    font-weight: inherit;
}

.underline {
    text-decoration: underline;
}

/*Header*/

.header {
    height: 60px;
    background-color: #2E2E2E;
    box-shadow: 0 -1px 8px #2E2E2E;
    border-bottom: solid 1px #2E2E2E;
    display : flex;
    align-items: center;
    justify-content: center;
}

/*Main*/

.main {
    padding: 30px 20px 0 20px;
}

.separator {
    border : 3px solid #565656;
    margin-top: 25px;
    margin-bottom: 35px;
}

.container-buttons {
    display: flex;
    justify-content: center;
}

.row-buttons {
    margin-top : 15px;
    margin-bottom: 30px;
    background-color: #FFF;
    border-radius: 3px;
    display: inline-block;
}

.btn-gender {
    font-size : 0.8rem;
    font-weight: 400;
    white-space: nowrap;
}

.btn-men, .btn-women {
    padding: 5px 15px;
    color : #FFF;
    width: 90px;
    margin-right: -4px;
    border-top : 1px solid transparent;
    border-bottom : 1px solid transparent;
}

.btn-men {
    background-color: #1FC3AA;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    transition: background-color ease-in-out 0.5s;
}

.btn-men:hover {
    background-color: #1f9c83;
}

.btn-women {
    background-color: #9900ff;
    transition: background-color ease-in-out 0.5s;
}

.btn-women:hover {
    background-color: #6200c1;
}

.btn-reset {
    padding: 5px 20px 5px 15px;
    border-top : 1px solid #333;
    border-bottom: 1px solid #333;
    border-right : 1px solid #333;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    transition: background-color ease-in-out 0.7s, border ease-in-out 0.7s;
    background-color: #FFF;
}

.btn-reset:hover {
    background-color: #efefef;
}

/*Typo*/

.title-lg {
    font-family: Knowledge, Source Sans Pro, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.8rem;
    color : #FFF;
    margin : 0;
}

.title-md {
    font-size : 1rem;
    text-align: center;
}

.title-sm {
    font-family: Knowledge, Source Sans Pro, Arial, sans-serif;
    font-size : 0.8rem;
    text-transform: uppercase;
    color : #2E2E2E;
}

/*Media query*/

@media screen and (max-width: 350px) {
    .btn-men, .btn-women {
        width: 76px;
    }
}

@media screen and (min-width: 768px) {
    .main {
        padding: 30px 50px 0 50px;
    }
}

@media screen and (min-width: 1020px) {
    .main {
        width : 800px;
        margin : auto;
    }
}